.comment-card{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 0px 10px;
    min-width: 400px;
    background-color: white;
    position: relative;
    z-index: 10;
    margin-left: 12px;
    transition-duration: 0.4s;
}

.comment-card:hover {
    background-color: rgba(255, 255, 255, 0.582);
    transition-duration: 0.4s;
}

.comment-rating{
    display: flex;
    justify-content: end;
    background-color: transparent;
}

.comment-text{
    margin: 2px 0px;
    font-size: small;
    display: flex;
    color: rgb(24, 24, 24);
}

.comment-image{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: -17px;
    left: -12px;
}

.comment-username{
    background-color: white;
    font-size: smaller;
    font-weight: 600;
    padding: 0px 5px;
    position: relative;
    border-radius: 12px;
    padding-bottom: -12px;
    top: -13px;
    left: 12px;
    z-index: 20;
    left: 7px;
}

.button-section{
    position: relative;
    bottom: -13px;
    display: flex;
    justify-content: end;
}

.cs-icon{
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin: 0px 4px;
    cursor: pointer;
}

.delete{
    color: rgb(207, 41, 0);
    transition-duration: 0.3s;
}

.edit{
    color: rgb(255, 166, 0);
    transition-duration: 0.3s;
}

.delete:hover{
    color: rgb(223, 92, 60);
    transition-duration: 0.3s;
}

.edit:hover{
    color: rgb(255, 191, 73);
    transition-duration: 0.3s;
}


.comment-image{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: -17px;
    left: -12px;
}

.comment-username{
    background-color: white;
    font-size: smaller;
    font-weight: 600;
    padding: 0px 5px;
    position: relative;
    border-radius: 12px;
    padding-bottom: -12px;
    top: -13px;
    left: 12px;
    z-index: 20;
}

.button-section{
    position: relative;
    bottom: -13px;
    display: flex;
    justify-content: end;
}

.cs-icon{
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin: 0px 4px;
    cursor: pointer;
}

.delete{
    color: rgb(207, 41, 0);
    transition-duration: 0.3s;
}

.edit{
    color: rgb(255, 166, 0);
    transition-duration: 0.3s;
}

.delete:hover{
    color: rgb(223, 92, 60);
    transition-duration: 0.3s;
}

.edit:hover{
    color: rgb(255, 191, 73);
    transition-duration: 0.3s;
}

